body{
    font-family: 'Poppins', sans-serif;
}
.header-background{
    background: #264653;

}
.btn-color{
    background: #E76F51;

}
.star-color{
    color: #E77C40;


}
.img-rounded {
    border-radius: 50%;
    
  }
  .newslater-bg{
      background-color: rgb(43,194,213);
  }