body{
    font-family: 'Poppins', sans-serif;
}
.small-font{
    font-size: 13px;
    font-weight:300;
}
.header-background{
    background: #264653;

}
.btn-color{
    background: #E76F51;

}

.gray-image{
    filter: grayscale(100%);
   }

.star-color{
    color: #E77C40;


}
.img-rounded {
    border-radius: 50%;
    
  }
  .newslater-bg{
      background-color: rgb(43,194,213);
  }